  .menu-frame,
  .uploading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0;
  }
  .uploading {
    width: 100%;
    position: relative;
    background-color: #fafafb;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 30px 0 0;
    box-sizing: border-box;
    gap: 30px;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1050px) {
    .menu-frame {
      display: none;
    }
    .uploading {
      padding-left: 30px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .uploading {
      gap: 15px;
    }
  }
