.table-container {
  /* overflow-x: auto ; */
  /* padding: 100px; */
  position: absolute ;
  top: 770px;
  left: 55%;
  transform: translate(-50%); 
  font-family: figtree
}

.table-container h2 { 
  font-size: 24px;
}

.wrap {
  padding: 15px;
  background: var(--Light-Goku, #F5F5F5);
  border-radius: 8px;
}

table {
  font-size: 14px;
  width: 1070px; /* Set default table width */
  border-collapse: collapse;
}

th {
  background-color: var(--Light-Goku, #F5F5F5);
  padding-left: 15px;
}

tr {
  border-bottom: 15px solid var(--Light-Goku, #F5F5F5);
  background-color: white;
  padding-left: 15px;
}

td {
  text-align: left;
  padding-left: 15px;
  height: 50px;
}

/* Adjusting width for each column */
th:nth-child(1), td:nth-child(1) {
  width: 80px; /* Width for the Id column */
}

th:nth-child(2), td:nth-child(2) {
  width: 200px; /* Width for the Links column */
}

th:nth-child(3), td:nth-child(3) {
  width: 120px; /* Width for the Prefix column */
}

th:nth-child(4), td:nth-child(4) {
  width: 150px; /* Width for the Add Tags column */
}

th:nth-child(5), td:nth-child(5) {
  width: 300px; /* Width for the Selected Tags column */
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrap select {
  padding: 12px;
  width: 150px;
  border-radius: 8px;
  border: 1px solid var(--Light-Beerus-Beerus, #F2F2F2);
  background: var(--Light-Gohan, #FFF);
}

td span {
  color: var(--Light-Gohan, #FFF);
  margin: 2px;
  padding-left: 5px;
  height: max-content;
  width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #605BFF;
}

td span button {
  color: var(--Light-Gohan, #FFF);
  font-size: 20px;
  background-color: transparent;
  border-style: none;
  font-family: Figtree;
}

.select-container {
  position: relative;
}

.select-container select {
  width: 100%;
  padding: 8px;
}

.select-container select:focus {
  outline: none;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: #f2f2f2;
  color: #333;
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.tag button {
  background-color: transparent;
  border: none;
  color: red;
  font-weight: bold;
  margin-left: 4px;
  cursor: pointer;
}

/* Responsive Styles */
/* Add responsive styles */
@media only screen and (max-width: 600px) {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
    display: block;
    border-bottom: 1px solid #ddd;
  }

  th {
    text-align: left;
    background-color: #f2f2f2;
  }

  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  td:last-child {
    border-bottom: 0;
  }
}
